
header {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    bottom: 250px;
    height: 53px;
    left: 39px;
    right: 39px;
    top: 37px;
    background-color: #1c6c7a;
    color:white;
    text-align:center;
    padding:5px;
}

* {
    box-sizing: border-box;
}

.wrapper{
    min-width: 400px;
    width: 800px;
    min-height: 560px;
    margin: 0 auto;
    position: relative;
}

.formInput {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    border-radius: 50px;
    border: 2px solid rgb(28, 108, 122);
}

.wrapper h1{
    font-size: 48px;
    color: rgb(6, 106, 117);
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}


.wrapper input:not([type="checkbox"]){
    width: 98%;
    margin-top: 4px;
    padding: 10px 5px 10px 5px;
    border: 1px solid rgb(178, 178, 178);

    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.wrapper textarea{
    width: 98%;
    margin-top: 4px;
    padding: 10px 5px 10px 5px;
    border: 1px solid rgb(178, 178, 178);

    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.wrapper p.button input{
    width: 100%;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 5px 0;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.wrapper p.button input:hover{
    background: rgb(74, 179, 198);
}

.wrapper p.button input:active,
.wrapper p.button input:focus{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
}