* {
    box-sizing: border-box;
}
header {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    bottom: 250px;
    height: 53px;
    left: 39px;
    right: 39px;
    top: 37px;
    background-color: #1c6c7a;
    color:white;
    text-align:center;
    padding:5px;
}

.wrapper{
    min-height: 500px;
    margin: 0 auto;
    min-width: 500px;
    width: 800px;
    position: relative;
}

#market {
    top: 50px;
    position: relative;
    padding: 2%;
    display: table;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid rgb(28, 108, 122);
}

td, th {
    padding: 10px;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 900px;
}

#dynamic th:last-child {
    width: 10%;
}
#dynamic input {
    width: 50%;
    padding: 3%;
}
tr {
    border-bottom: 1px solid black;
}
tr:nth-child(even) {background: #CCC}
thead, tfoot {
    background-color: #1c6c7a;
    color: white;
}